html
{
	background-color:black;
}

header
	{
		background-color:black;
		overflow:auto;
		border-bottom:6px double orange;
	}

body
	{
	background-color:#B8B8B8;
	font-family: 'Quattrocento'
	}

nav
 	{
 		/*width:50%;*/
 		text-align:left;
 	}

nav ul 
	{
		list-style: none;
		padding-left:0;
	}

nav li
	{
		display:inline-block;
	}

.nav_link

	{
		font-size:1em;
		color:grey;
		padding:.25em;	
		text-decoration: none;
		margin: 0 2em;
		/*border-left:2px solid grey;*/
	}

#last_link
	{
		/*border-right:2px solid grey;*/
	}

a 
	{
		-webkit-transition: color .5s;
	}


a:hover 
	{
		color: white;
	}

main

	{	
		width:100%;
		clear:both;
		text-align:center;
		background-color:black;
		height:850px;
		color:grey;
	}


main h3

	{
		border-top: 2px ridge orange;
		border-bottom:2px ridge orange;
		width:25%;
		margin:auto;
		margin-top:2em;
		margin-bottom:2em;
		color:white;
	}


form

	{
		display: table;
		margin:auto;
		text-align:center;
	}

#container

{
	background-color:black;
	display: table-cell;
	vertical-align: middle;
	width:50%;
	margin:auto;
}

.inputs

	{
		display:inline-block;
		text-align: center;
		width:50%%;
		margin-bottom:2em;
	}

.inputs label 

{
	color:white;
	display: inline-block;
	width: 100px;
	text-align: right;
}

footer

	{
		position:fixed;
		left:0px;
		bottom:0px;
		width:100%;
		background-color:black;
		text-align:center;
		border-top: 6px double orange;	

	}

	footer p 

	{
		color:grey;
		display:inline-block;
		margin:1em 5em;
		padding:.5em;
	}

	img

	{
		width:100%;
		height:auto;
		border-bottom:6px double orange;
	}

	ul
	{
		list-style:none;
	}
