*
{
	box-sizing: border-box;
}

html
{
	background-color:black;
}

header
	{
		background-color:black;
		overflow:auto;
		border-bottom:6px double orange;

	}

body
	{

	background-color:black;
	font-family: 'Quattrocento'
	}

nav
 	{
 		/*width:50%;*/
 		text-align:left;
 	}

nav ul 
	{
		list-style: none;
		padding-left:0;
	}

nav li
	{
		display:inline-block;
	}

.nav_link

	{
		font-size:1em;
		color:grey;
		padding:.25em;	
		text-decoration: none;
		margin: 0 2em;
		/*border-left:2px solid grey;*/
	}

#last_link
	{
		/*border-right:2px solid grey;*/
	}

a 
	{
		-webkit-transition: color .5s;
	}


a:hover 
	{
		color: white;
	}

main

	{	
		width:100%;
		clear:both;
		text-align:center;
		background-color:black;
		height:850px;
		color:grey;
		overflow:auto;
	}


main h3

	{
		border-top: 2px ridge orange;
		border-bottom:2px ridge orange;
		width:25%;
		margin:auto;
		margin-top:2em;
		margin-bottom:2em;
		color:white;
	}

main ul

{
	width:50%;
	float:left;
	text-align:center;

}


.contact_container
	{
		margin:2em;
		overflow:auto;
	}

.contact_container ul
	{
		width:20%;
		padding-right:5em;
		padding-top:1em;
		margin-left:38em;
		
	}

	.contact_container li
	{
		/*border-bottom:1px solid orange;*/
	}

	.contact_buttons
	{
		float:left;
		padding-top:1.5em;
		padding-left:2em;
		/*margin-right:5em;*/
	}


form

	{
		display: table;
		margin:auto;
		text-align:center;
	}

.container

{
	background-color:black;
	display: table-cell;
	vertical-align: middle;
	width:50%;
	margin:auto;
}

.inputs

	{
		display:inline-block;
		text-align: center;
		width:50%%;
		margin-bottom:2em;
		margin-left:2em;
	}

.inputs label 

{
	color:white;
	display: inline-block;
	width: 100px;
	text-align: left;
	margin-right:5em;
}

footer

	{
		position:fixed;
		left:0px;
		bottom:0px;
		width:100%;
		background-color:black;
		text-align:center;
		border-top: 6px double orange;	

	}

	footer p 

	{
		color:grey;
		display:inline-block;
		margin:1em 12em;
		padding:.5em;
	}

	img

	{
		width:100%;
		height:auto;
		border-bottom:6px double orange;
	}

	ul
	{
		list-style:none;
	}

	input, text area
	{
		padding:.25em;
		background-color:#B2B2B2;
		border-radius:2px;
		border:1px solid orange;
	}

	button
	{
		background-color:#B2B2B2;
		border-radius:4px;
		border:2px solid black;
		padding:.5em;
	}

	#Add_Contact
	{
		position:relative;
		left:90px;
	}
